/*@@@@@ 通用设置 */
QWidget {
    background-color: rgb(231,166,190);
    color:rgb(3,32,82);
}

QLabel{
    background-color: transparent;
}
QLineEdit {
    border: none;
    border-radius: 10px; /* 设置边框圆角*/
    padding: 0 8px; /* 设置上下填充0，左右填充8*/
    selection-background-color: darkgray; /* 设置选中文本的背景色*/
}
QLineEdit:hover {
    border: 2px solid rgb(248,129,161); /* 设置边框*/
}
QTableView {
    background-color: rgb(234,174,197);
}
/*--设置表头颜色*/
QTableView QHeaderView::section {
    border: none;
    background-color: rgb(231,166,190);
    color: black;
}
/*左上角单元格*/
QTableView QTableCornerButton::section {
    background-color: rgb(231,166,190);
}
/*--鼠标悬停在表头上某个列上*/
QTableView QHeaderView::section:hover{
    background-color: rgb(248,228,236);
}
/*--每个单元格设置 */
QTableView::item {
    border: none;
    height: 30px;
    background-color: rgb(234,174,197);
}
/*--单元格选中颜色*/
/*QTableView::item:selected{ 
    background-color: rgb(248,129,161); 
    selection-color: white;*/ /*文字颜色*/
/*}*/

/*--交替变色，另一行*/
/*QTableView::item:alternate:!selected{
    background-color: rgb(237,188,206);    
}*/

/*@@@@@ QTreeView */
QTreeView {
    background-color: rgb(234,174,197);
    show-decoration-selected: 1; /*设计item一行中的branch和item为一个整体，默认为0*/
    font: normal 13pt "JetBrains Mono";
}

QTreeView QHeaderView::section {
    border: none;
    background-color: rgb(234,174,197);
    font: normal 15pt "JetBrains Mono";
    color: white;
}

QTreeView::item {
    border: none;
    height: 50px;
    color: white;
}

/*--鼠标悬停*/
QTreeView::item:hover,
QTreeView::branch:hover {
    background-color: rgb(248,129,161);
}

/*--选中item时，item和前面的branch显示一样的颜色*/
QTreeView::item:selected,
QTreeView::branch:selected {
    background-color: rgb(201,54,109);
    color: rgb(255,88,77);
}

/*--鼠标悬停，或选中*/
/*QTreeView::item:selected:hover,
QTreeView::branch:selected:hover {
    background-color: rgb(248,129,161);
    color: rgb(255,88,77);
}*/

/*@@@@@@@设置水平滑动条的样式 */

QScrollBar:horizontal {
    border: 1px solid rgb(231,166,190);
    background: rgb(231,166,190);
    height: 10px;
    margin: 0px 20px 0 20px;
}
/*--设置滑动条滑块样式*/
QScrollBar::handle:horizontal {
    background: rgb(237,188,206);
    border-radius:4px;
}
 QScrollBar::handle:horizontal:hover {
    background: rgb(248,129,161);
 }

/*@@@@@@@设置垂直滑动条样式*/
QScrollBar:vertical {
    border: 1px solid rgb(231,166,190);
    background: rgb(231,166,190);
    width: 10px;
    margin: 20px 0px 20px 0px;
}
/*--设置滑动条滑块样式*/
QScrollBar::handle:vertical {
    background: rgb(237,188,206);
    border-radius:4px;
}
QScrollBar::handle:vertical:hover {
    background: rgb(248,129,161);
}

/*@@@@@菜单*/
QMenu {
    background-color: rgba(231,166,190,230);
    margin: 6px;
    padding-top:6px;
    padding-bottom:6px;
    border-radius:6px;
}
QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}
QMenu::item:selected {
    background: rgba(234,174,197, 230);
}

QMenu::separator {
    height: 1px;
    background: rgb(237,188,206);
    margin-top: 5px;
    margin-bottom: 5px;
}

QMenu::indicator {
    padding-left:15px;
    width:13px;
    height:13px;
}

/*ToolBar——分页工具栏*/
/*QWidget#toolBar{
    background-color:rgb(231,166,190);
}

QWidget#toolBar QComboBox,
QWidget#toolBar QDateEdit,
QWidget#toolBar QLineEdit {
    min-width: 100px;
    max-width: 150px;
    min-height:25px;
    max-height:25px;
}


QWidget#toolBar QPushButton{
    width:32px; 
    height: 32px;
}

/*@@@@@ 设置界面 settingsDlg */
/*-- 导航 */
/*QDialog#settingsDlg QWidget#navBar {
    min-width: 130px;
    background-color: rgb(234,174,197);
}

QDialog#settingsDlg QWidget#navBar QPushButton{
   width:100px;
   height:35px;
   border-radius:8px;
}

QDialog#settingsDlg QWidget#navBar QPushButton:hover {
    background-color: rgb(248,129,161);
}

QDialog#settingsDlg QWidget#navBar QPushButton:checked {
    background-color: rgb(240,202,217);
    color: rgb(255,88,77);
}*/

/*-- 内容页*/
/*QDialog#settingsDlg .QWidget {
    background-color: rgb(231,166,190);
}

QDialog#settingsDlg QWidget#titleBar {
    background-color: rgb(231,166,190);
    min-height: 32px;
    max-height: 32px;
}

QDialog#settingsDlg QWidget#titleBar QPushButton#closeBtn{
    image:url(':/assets/images/quit.png');
    width:45px;
    min-height:32px;
    max-height:32px;
}

QDialog#settingsDlg QWidget#titleBar QPushButton#closeBtn:hover{
    background-color:red;
}*/

QPushButton {
    background-color: rgb(234,174,197);
    border: none;
    border-radius: 8px;
    font-size: 13px;
    padding: 5px;
}

QPushButton::menu-indicator {
    subcontrol-position: right center;
    subcontrol-origin: padding;
    width: 10px;
    height: 10px;
}

QPushButton#changeFace::menu-indicator {
    image: url(:/ResourceClient/up.png);
    subcontrol-position: right center;
    subcontrol-origin: padding;
    width: 10px;
    height: 10px;
}

QPushButton:hover {
    background-color: #CCFF66;
}

QPushButton#OK {
    border: none;
    background-color: #99FFCC;
    color: black;
    border-radius: 8px;
    width: 120px;
    height: 30px;
}

QPushButton#OK:hover {
    background-color: #99FF00;
}

QPushButton#NO {
    border: none;
    background-color: #FF66FF;
    color: black;
    border-radius: 8px;
    width: 120px;
    height: 30px;
}

    QPushButton#NO:hover {
        background-color: #FF0066;
    }

/*消息提示框*/
QMessageBox {
    background-color: #FFFF99;
    border-radius: 3px;
}

QMessageBox QLabel {
    font-family: '华文行楷';
    font-size: 20px;
    color: #FF9933;
    padding-left: 0px;
    padding-top: 20px;
    margin-right: 10px;
    text-align: center;
}

QMessageBox QPushButton {
    background-color: #99FF33;
    color: black;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

QMessageBox QPushButton:hover {
    background-color: #CCFF33;
}



